:root {
  --font-primary: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --font-heading: 'Seymour One', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --color-text-light: #ffffff;
  --color-text-dark: #131313;
  --color-text-inverse: #ffffff;
  --color-text-additional: #bc5c3a;
  --bg-color-primary: #84a178;
  --bg-color-secondary: #fcfcfc;
  --bg-color-card-1: #efd478;
  --bg-color-card-2: #d6936d;
  --bg-color-card-3: #aec6a5;
  --color-accent: #f8d24e;
  --color-hover: #0a8817;
  --color-disabled: #ababab;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  background-color: var(--bg-color-secondary);
  color: var(--color-text-dark);
}
