.section-title {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-text-light);
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 35px;
    letter-spacing: 0.06em;
  }
}

.button-primary {
  font-weight: 600;
  font-size: 14px;
  padding: 12px 34px;
  background-color: var(--color-accent);
  color: var(--color-text-dark);
  border: none;
  border-radius: 10px;
  transition: background-color var(--transition), color var(--transition);
}

@media screen and (min-width: 1200px) {
  .button-primary:hover {
    background-color: var(--color-hover);
  }

  .button-primary:focus {
    outline: none;
    color: var(--color-text-light);
    background-color: var(--color-hover);
  }
}

.button-secondary {
  font-weight: 600;
  font-size: 14px;
  padding: 12px 34px;
  background-color: transparent;
  color: var(--color-text-dark);
  border: 2px solid var(--color-accent);
  border-radius: 10px;
  transition: background-color var(--transition), border-color var(--transition),
    color var(--transition);
}

@media screen and (min-width: 1200px) {
  .button-secondary:hover {
    border-color: var(--color-hover);
  }

  .button-secondary:focus {
    outline: transparent;
    color: var(--color-text-light);
    border-color: var(--color-hover);
  }
}

/* .form-btn:disabled {
    border-color: var(--color-disabled);
    cursor: not-allowed;
  } */

.icon-arrow {
  width: 40px;
  height: 15px;
  stroke: currentColor;
  stroke-width: 2px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity var(--transition), visibility var(--transition);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
