/* #region title  */
.section-title {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-text-light);
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 35px;
    letter-spacing: 0.06em;
  }
}

/* #endregion title */

/* #region buttons */

.button-primary {
  font-weight: 600;
  font-size: 14px;
  padding: 12px 34px;
  background-color: var(--color-accent);
  color: var(--color-text-dark);
  border: none;
  border-radius: 10px;
  transition: background-color var(--transition), color var(--transition);
}

@media screen and (min-width: 1200px) {
  .button-primary:hover {
    background-color: var(--color-hover);
  }

  .button-primary:focus {
    outline: none;
    color: var(--color-text-light);
    background-color: var(--color-hover);
  }
}

.button-secondary {
  font-weight: 600;
  font-size: 14px;
  padding: 12px 34px;
  background-color: transparent;
  color: var(--color-text-dark);
  border: 2px solid var(--color-accent);
  border-radius: 10px;
  transition: background-color var(--transition), border-color var(--transition),
    color var(--transition);
}

@media screen and (min-width: 1200px) {
  .button-secondary:hover {
    border-color: var(--color-hover);
  }

  .button-secondary:focus {
    outline: transparent;
    color: var(--color-text-light);
    border-color: var(--color-hover);
  }
}

/* .form-btn:disabled {
    border-color: var(--color-disabled);
    cursor: not-allowed;
  } */

.btn-icon {
  stroke: currentColor;
}

.icon-arrow {
  width: 40px;
  height: 15px;
  stroke: currentColor;
  stroke-width: 2px;
}

/* #endregion buttons */

/* #region modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity var(--transition), visibility var(--transition);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.modal-close-icon {
  fill: var(--text-color-dark);
}

@media screen and (min-width: 768px) {
  .modal-close-btn {
    top: 20px;
    right: 20px;
  }
  .modal-close-icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    animation-name: rotate;
    animation-duration: 1s;
    outline-color: var(--color-hover);
  }
}

/* #endregion modal */

/* #region modal-form */

.modal-form {
  width: 224px;
  margin: 0 auto;
}

.modal-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.modal-input {
  width: 100%;
  height: 32px;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 1.4;
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid var(--bg-color-primary);
  border-radius: 10px;
}

.modal-input:focus {
  outline: 1px solid var(--bg-color-primary);
}

.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.4;
  color: var(--dark-text-color);
}

.modal-textarea {
  height: 64px;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 786px) {
  .modal-form {
    width: 368px;
  }

  .modal-input {
    font-size: 14px;
  }

  .modal-input::placeholder {
    font-size: 14px;
  }
}

@media screen and (min-width: 786px) {
  .modal-input:hover {
    outline: 1px solid var(--bg-color-primary);
  }
}

/* #endregion modal-form */

/* #region utils */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion utils */
