.advantages {
  background-color: var(--bg-color-primary);
}

.advantages-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages-heading-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  gap: 12px;
  margin-bottom: 53px;
}

.advantages-subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--color-text-light);
}

.advantages-img-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}

.advantages-img-wrapper:before {
  content: '';
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 278px;
  height: 278px;
  border-radius: 140px;
  box-shadow: 0 4px 17px 0 rgba(153, 114, 23, 0.25);
  background-color: var(--bg-color-card-1);
  z-index: 0;
}

.advantages-img {
  position: relative;
  z-index: 1;
  display: block;
  border-radius: 50%;
  width: 278px;
  height: 278px;
  object-fit: cover;
  border-radius: 140px;
}

.advantages-text-wrapper {
  margin-bottom: 20px;
}

.advantages-text {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--color-text-light);
  max-width: 220px;
  margin: 0 auto 3px;
}

.advantages-text-hidden {
  display: none;
}

.advantages-content-block {
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.advantages-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0 auto;
}

.advantages-item {
  position: relative;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
}

.advantages-item::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-accent);
  margin: 0 auto 16px;
  position: relative;
  z-index: 1;
}

.advantages-item svg {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  z-index: 2;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-text-light);
  margin-bottom: 18px;
}

.advantages-item {
  margin-bottom: 27px;
}

.advantages-item-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advantages-item-description {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  color: var(--color-text-light);
  width: 230px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .advantages-container {
    padding-top: 60px;
    padding-bottom: 204px;
  }

  .advantages-content {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 32px;
  }

  .advantages-img-wrapper {
    position: relative;
    width: 334px;
    height: 334px;
    margin: 0 auto;
  }

  .advantages-img-wrapper::before {
    content: '';
    position: absolute;
    top: 42%;
    left: 50%;
    width: 320px;
    height: 330px;
    border-radius: 50%;
    background-color: var(--bg-color-card-1);
    box-shadow: 0 4px 17px rgba(153, 114, 23, 0.25);
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  .advantages-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .advantages-text-wrapper {
    margin-bottom: 48px;
    margin-top: -20px;
  }

  .advantages-content-block {
    flex: 0 0 50%;
    max-width: 480px;
    margin: 0;
    text-align: left;
  }

  .advantages-text {
    max-width: 100%;
    text-align: left;
    line-height: 1.7;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .advantages-text-hidden {
    display: block;
    line-height: 1.9;
  }

  .advantages-title {
    letter-spacing: 0.06em;
  }

  .advantages-title br {
    display: none;
  }

  .advantages-subtitle {
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 0.04em;
  }

  .advantages-btn {
    margin: 0;
  }

  .advantages-list {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 53px;
  }

  .advantages-item-description {
    line-height: 1.7;
    font-size: 14px;
    font-weight: 400;
    width: 152px;
    height: auto;
  }

  .advantages-item {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-container {
    padding-bottom: 180px;
  }

  .advantages-heading-wrapper {
    margin-bottom: 121px;
  }

  .advantages-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
  }

  .advantages-img-wrapper {
    width: 490px;
    height: 490px;
    margin: 0;
  }

  .advantages-img-wrapper::before {
    width: 500px;
    height: 500px;
  }

  .advantages-text-wrapper {
    align-items: flex-start;
  }

  .advantages-content-text .advantages-text-large {
    font-size: 16px;
    line-height: 1.7;
  }

  .advantages-text {
    font-size: 14px;
    line-height: 194%;
  }

  .advantages-text-large {
    font-size: 16px;
    line-height: 1.7;
  }

  .advantages-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    margin-top: 60px;
    flex-wrap: nowrap;
  }

  .advantages-item {
    width: 368px;
    height: 223px;
    max-width: none;
  }

  .advantages-item-title {
    font-weight: 700;
    font-size: 58px;
    text-transform: none;
  }

  .advantages-item-description {
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    width: 368px;
    height: 52px;
  }

  .advantages-item-text-wrapper {
    margin-top: 40px;
  }
}
