.footer {
  background-color: var(--bg-color-primary);
}

.footer-locations-section {
  position: absolute;
  z-index: 10;
  top: -353px;
}

.footer-container {
  position: relative;
  padding-top: 963px;
}

.footer-locations-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-locations-item {
  width: 280px;
  background-color: var(--color-text-light);
  border-radius: 24px;
  box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
  padding: 40px 32px 40px 32px;
}

.footer-locations-title {
  border-radius: 4px;
  background: var(--color-accent);
  width: 84px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  text-align: center;
}

.footer-locations-title-large {
  width: 130px;
}

.footer-locations-subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
}

.footer-locations-name-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 8px;
}

.footer-address-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: var(--color-text-additional);
}

.footer-locations-address {
  margin-bottom: 24px;
}

.footer-line-wrapper {
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
  margin-bottom: 24px;
}

.footer-working-hours-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.footer-working-hours-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
}

.footer-working-hours-span {
  color: var(--color-hover);
}

.footer-contacts-address {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
}

.footer-info {
  background-color: var(--bg-color-primary);
}

.footer-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
  margin-bottom: 39px;
  align-items: center;
}

.footer-button {
  width: 196px;
  height: 42px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
}

.footer-slogan {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 42px;
}

.footer-slogan-text {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--color-text-light);
}

.footer-slogan-text-large {
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 0.04em;
}

.footer-social-wrapper {
  margin-bottom: 38px;
}

.footer-social-list {
  display: flex;
  gap: 27px;
  justify-content: flex-end;
  margin-bottom: 38px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-accent);
  transition: var(--transition);
}

.footer-social-icon {
  fill: var(--bg-color-primary);
  transition: fill var(--transition);
}

.footer-contact-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8;
  text-align: right;
  color: var(--color-text-dark);
}

.footer-contact-tel-link {
  color: var(--color-text-light);
  transition: color var(--transition);
}

.footer-social-line-wrapper {
  width: 100vw;
  height: 1px;
  background-color: #e1e1e1;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  margin-top: 40px;
  margin-bottom: 16px;
}

.footer-copyright-wrapper {
  padding-bottom: 62px;
}

.footer-copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-text-light);
}

@media screen and (min-width: 768px) {
  .footer-locations-section {
    position: absolute;
    z-index: 10;
    top: -305px;
  }

  .footer-container {
    position: relative;
    padding-top: 220px;
  }

  .footer-locations-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .footer-locations-item {
    width: 224px;
  }

  .footer-locations-name-wrapper {
    row-gap: 32px;
  }

  .footer-locations-title {
    font-size: 16px;
  }

  .footer-locations-subtitle {
    font-size: 14px;
  }

  .footer-address-link {
    font-size: 14px;
  }

  .footer-locations-address {
    margin-bottom: 26px;
  }

  .footer-line-wrapper {
    margin-bottom: 32px;
    width: 170px;
  }

  .footer-working-hours-list {
    gap: 12px;
    margin-bottom: 32px;
  }

  .footer-working-hours-text {
    font-size: 14px;
  }

  .footer-contacts-address {
    font-size: 14px;
  }

  .footer-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .footer-slogan-social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .footer-social-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    margin-top: 68px;
    margin-bottom: 0px;
  }

  .footer-social-list {
    margin: 0;
  }

  .footer-social-contacts {
    display: flex;
    gap: 20px;
    padding: 0;
  }

  .footer-slogan {
    max-width: 352px;
    gap: 9px;
    margin: 0;
  }

  .footer-slogan-text {
    font-size: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: 700;
  }

  .footer-slogan-text-large {
    font-size: 48px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  .footer-contact-text {
    font-size: 14px;
  }

  .footer-copyright-wrapper {
    white-space: nowrap;
    padding-bottom: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-locations-section {
    position: absolute;
    z-index: 10;
    top: -96px;
  }

  .footer-container {
    position: relative;
    padding-top: 450px;
  }

  .footer-locations-list {
    gap: 32px;
    justify-content: space-between;
  }

  .footer-locations-item {
    width: 368px;
    height: 538px;
  }

  .footer-locations-name-wrapper {
    margin-bottom: 8px;
  }

  .footer-locations-subtitle {
    font-size: 16px;
  }

  .footer-address-link {
    font-size: 16px;
    transition: color var(--transition);
  }

  .footer-address-link:hover,
  .footer-address-link:focus {
    outline: none;
    text-decoration: underline;
  }

  .footer-line-wrapper {
    width: 288px;
  }

  .footer-working-hours-text {
    font-size: 16px;
  }

  .footer-contacts-address {
    font-size: 16px;
  }

  .footer-contacts-address-link:hover,
  .footer-contacts-address-link:focus {
    outline: none;
    text-decoration: underline;
  }

  .footer-button-wrapper {
    margin-top: 64px;
    margin-bottom: 120px;
  }

  .footer-slogan-text {
    font-weight: 400;
    font-size: 30px;
  }

  .footer-slogan-text-large {
    font-size: 58px;
    font-weight: 700;
  }

  .footer-slogan {
    max-width: 504px;
    gap: 12px;
  }

  .footer-social-wrapper {
    margin-top: 0;
    gap: 40px;
  }

  .footer-contact-text {
    line-height: 3.5;
  }

  .footer-slogan-social-wrapper {
    margin-bottom: 54px;
  }

  .footer-social-link:hover {
    background-color: var(--color-hover);
  }

  .footer-social-link:focus {
    outline: 2px solid var(--color-hover);
  }

  .footer-social-link:hover .footer-social-icon {
    fill: var(--color-text-light);
  }

  .footer-contact-tel-link:hover {
    color: var(--color-hover);
  }

  .footer-contact-tel-link:focus {
    outline: 2px solid var(--color-hover);
    border-radius: 4px;
  }

  .footer-social-line-wrapper {
    width: 1167px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
  }
}
