.footer-contacts {
  position: relative;
  /* z-index: 5; */
  background-color: var(--bg-color-primary);
  /* margin-top: -120px; */
}

.footer-locations-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-locations-item {
  width: 280px;
  background-color: var(--color-text-light);
  border-radius: 24px;
  box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
  padding: 40px 32px 40px 32px;
}

.footer-locations-title {
  border-radius: 4px;
  background: var(--color-accent);
  width: 84px;
  height: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  text-align: center;
}

.footer-locations-title-large {
  width: 130px;
}

.footer-locations-subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
}

.footer-locations-name-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 20px;
}

.footer-addres-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: var(--bg-color-card-2);
}

.footer-locations-addres {
  margin-bottom: 24px;
}

.footer-line-wrapper {
  width: 216px;
  height: 1px;
  background-color: #e1e1e1;
  margin-bottom: 24px;
}

.footer-working-hours-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.footer-working-hours-wrapper p {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
}

.footer-working-hours-text span {
  color: var(--color-disabled);
}

.footer-contacts-wrapper {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
}

.footer-info {
  background-color: var(--bg-color-primary);
}

.footer-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
  margin-bottom: 39px;
  align-items: center;
}

.footer-button {
  border-radius: 10px;
  width: 196px;
  height: 42px;
  background-color: var(--color-accent);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  border: none;
}

.footer-button-transperent {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid var(--color-accent);
}

.footer-slogan {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 42px;
}

.footer-slogan-text {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--color-text-light);
}

.footer-slogan-text-large {
  font-weight: 700;
  font-size: 34px;
  letter-spacing: 0.04em;
}

.footer-social-wrapper {
  margin-bottom: 38px;
}

.footer-social-list {
  display: flex;
  gap: 27px;
  justify-content: flex-end;
  margin-bottom: 38px;
}

.footer-icon {
  fill: var(--bg-color-primary);
}

.footer-social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-accent);
  color: var(--color-text-dark);
}

.footer-contact-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8;
  text-align: right;
  color: var(--color-text-dark);
}
.footer-social-contacts-address a {
  color: var(--color-text-light);
}

.footer-social-line-wrapper {
  margin-top: 40px;
  margin-bottom: 16px;
  width: 100vw;
  height: 1px;
  background-color: #e1e1e1;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}

.footer-copyright {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #7a7a7a;
  padding-bottom: 62px;
}

@media screen and (min-width: 768px) {
  .footer-locations-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .footer-locations-item {
    width: 224px;
  }

  .footer-line-wrapper {
    width: 170px;
  }

  .footer-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
  }

  .footer-slogan-social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .footer-social-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
    margin-top: 68px;
    margin-bottom: 0px;
  }

  .footer-social-list {
    margin: 0;
  }

  .footer-social-contacts {
    display: flex;
    gap: 20px;
    padding: 0;
  }

  .footer-social-line-wrapper {
    text-align: right;
  }

  .footer-slogan {
    max-width: 352px;
    gap: 9px;
    margin: 0;
  }

  .footer-slogan-text {
    font-size: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .footer-slogan-text-large {
    font-size: 48px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  .footer-copyright {
    white-space: nowrap;
    padding-bottom: 13px;
  }
}

@media screen and (max-width: 1200px) {
  .footer-locations-list {
    gap: 32px;
    justify-content: center;
  }

  .footer-locations-item {
    width: 358px;
  }
}
