<div class="modal-overlay franchise-modal-overlay">
  <div class="franchise-modal-container">
    <button
      class="modal-close-btn franchise-modal-close-btn"
      type="button"
      aria-label="Close modal window"
    >
      <svg class="modal-close-icon" width="16" height="16">
        <use href="/img/sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h2 class="visually-hidden">Franchise Opportunities</h2>
    <p class="franchise-modal-congrats">Thank you for your interest in owning an Ice Cream shop</p>
    <p class="franchise-modal-description">
      Due to the overwhelming volume of franchise requests we are not accepting new franchisee
      applications at this time. Once the application process resumes, we will contact you for
      further information. Please fill out the contact information below and we will reach out for
      additional information. We appreciate your patience.
    </p>
    <form class="modal-form">
      <div class="modal-input-wrapper">
        <label class="visually-hidden" for="franchise-name">Name</label>
        <input
          class="modal-input"
          id="franchise-name"
          name="name"
          type="text"
          placeholder="Name"
          required
          autocomplete="name"
          aria-label="Name"
        />
        <label class="visually-hidden" for="franchise-phone">Phone</label>
        <input
          class="modal-input"
          id="franchise-phone"
          name="phone"
          type="tel"
          placeholder="Phone"
          required
          autocomplete="tel"
          aria-label="Phone number"
        />
        <label class="visually-hidden" for="franchise-email">Email</label>
        <input
          class="modal-input"
          id="franchise-email"
          name="email"
          type="email"
          placeholder="Email"
          required
          autocomplete="email"
          aria-label="Email address"
        />
        <label class="visually-hidden" for="franchise-comment">Comment</label>
        <textarea
          class="modal-input modal-textarea"
          id="franchise-comment"
          name="comment"
          id="comment"
          rows="3"
          placeholder="Comment"
          autocomplete="off"
          aria-label="Comment"
        ></textarea>
      </div>
      <button class="button-primary modal-form-btn" type="submit">Submit</button>
    </form>
  </div>
</div>
