<div class="modal-overlay order-modal-overlay">
  <div class="order-modal-container">
    <button
      class="modal-close-btn order-modal-close-btn"
      type="button"
      aria-label="Close modal window"
    >
      <svg class="modal-close-icon" width="16" height="16">
        <use href="/img/sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h2 class="order-modal-title">Buy now</h2>
    <ul class="order-modal-list">
      <li class="order-modal-item">
        <div class="order-img-decor order-img-decor-1"></div>
        <div class="order-img-wrapper">
          <img
            srcset="
              /img/order-modal-webp/order-modal-img1-1x.webp 1x,
              /img/order-modal-webp/order-modal-img1-2x.webp 2x
            "
            alt="Colorful ice cream"
          />
        </div>
        <div class="order-item-title-wrapper order-item-title-wrapper-1">
          <h3 class="order-item-title">ice cream</h3>
        </div>
      </li>
      <li class="order-modal-item">
        <div class="order-img-decor order-img-decor-2"></div>
        <div class="order-img-wrapper">
          <img
            srcset="
              /img/order-modal-webp/order-modal-img2-1x.webp 1x,
              /img/order-modal-webp/order-modal-img2-2x.webp 2x
            "
            alt="A glass of ice coffee with toppings"
          />
        </div>
        <div class="order-item-title-wrapper order-item-title-wrapper-2">
          <h3 class="order-item-title">ice coffee</h3>
        </div>
      </li>
      <li class="order-modal-item">
        <div class="order-img-decor order-img-decor-3"></div>
        <div class="order-img-wrapper">
          <img
            srcset="
              /img/order-modal-webp/order-modal-img3-1x.webp 1x,
              /img/order-modal-webp/order-modal-img3-2x.webp 2x
            "
            alt="Milkshake with toppings"
          />
        </div>
        <div class="order-item-title-wrapper order-item-title-wrapper-3">
          <h3 class="order-item-title">milkshake</h3>
        </div>
      </li>
    </ul>
    <form class="modal-form">
      <div class="modal-input-wrapper">
        <label class="visually-hidden" for="order-name">Name</label>
        <input
          class="modal-input"
          id="order-name"
          name="name"
          type="text"
          placeholder="Name"
          required
          autocomplete="name"
          aria-label="Name"
        />
        <label class="visually-hidden" for="order-phone">Phone</label>
        <input
          class="modal-input"
          id="order-phone"
          name="phone"
          type="tel"
          placeholder="Phone"
          required
          autocomplete="tel"
          aria-label="Phone number"
        />
        <label class="visually-hidden" for="order-comment">Comment</label>
        <textarea
          class="modal-input modal-textarea"
          id="order-comment"
          name="comment"
          rows="3"
          placeholder="Comment"
          autocomplete="off"
          aria-label="Comment"
        ></textarea>
      </div>
      <button class="button-primary modal-form-btn" type="submit">Submit</button>
    </form>
  </div>
</div>
