<div class="modal-overlay promo-modal-overlay">
  <div class="promo-modal-container">
    <button
      class="modal-close-btn promo-modal-close-btn"
      type="button"
      aria-label="Close modal window"
    >
      <svg class="modal-close-icon" width="16" height="16">
        <use href="/img/sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h2 class="promo-modal-title">How it’s made?</h2>
    <iframe
      class="promo-modal-iframe"
      src="https://www.youtube.com/embed/bMVyNAZ8I08?si=idqUrNmslzCQU--J"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <p class="promo-modal-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et
    </p>
  </div>
</div>
