<section class="advantages" id="advantages">
  <div class="container advantages-container">
    <div class="advantages-heading-wrapper">
      <h2 class="section-title advantages-title">
        How <br />
        it's <br />
        made?
      </h2>
      <h3 class="advantages-subtitle">Tradition and love</h3>
    </div>
    <div class="advantages-content">
      <div class="advantages-img-wrapper">
        <picture>
          <source
            srcset="
              img/advantages-webp/advantages-desk-1x.webp 1x,
              img/advantages-webp/advantages-desk-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              img/advantages-webp/advantages-tab-1x.webp 1x,
              img/advantages-webp/advantages-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              img/advantages-webp/advantages-mob-1x.webp 1x,
              img/advantages-webp/advantages-mob-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="advantages-img"
            src="img/advantages-webp/advantages-mob-1x.webp"
            alt="Корова на лугу"
          />
        </picture>
      </div>
      <div class="advantages-content-block">
        <div class="advantages-text-wrapper">
          <p class="advantages-text advantages-text-large">
            Ice is a place where you will become not only a little happier, but also healthier.
            Health is the main value for us, and we follow it when creating our handmade desserts.
          </p>
          <p class="advantages-text">
            We use traditional recipes and 100% natural ingredients. Our products are so natural
            that they can be given to children from the age of three years. Sweets lovers can expect
            55 types of ice cream, 15 types of coffee and 23 milkshakes.
          </p>
          <p class="advantages-text advantages-text-hidden">
            This is enough to choose ice cream and coffee for any mood!
          </p>
        </div>
        <button class="button-primary advantages-btn" type="button">
          Read more
          <svg class="btn-icon" width="12" height="12">
            <use href="/img/sprite.svg#icon-btn-chevron-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <ul class="advantages-list">
      <li class="advantages-item">
        <svg width="36" height="36">
          <use href="/img/sprite.svg#icon-cow"></use>
        </svg>
        <div class="advantages-item-text-wrapper">
          <h4 class="advantages-item-title">721</h4>
          <p class="advantages-item-description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <svg width="36" height="36">
          <use href="/img/sprite.svg#icon-weight"></use>
        </svg>
        <div class="advantages-item-text-wrapper">
          <h4 class="advantages-item-title">16kg</h4>
          <p class="advantages-item-description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <svg width="36" height="36">
          <use href="/img/sprite.svg#icon-ice-crema"></use>
        </svg>
        <div class="advantages-item-text-wrapper">
          <h4 class="advantages-item-title">84</h4>
          <p class="advantages-item-description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
