<footer class="footer">
  <div class="container footer-container">
    <h2 class="visually-hidden">Our location</h2>
    <section class="footer-locations-section" id="contacts">
      <ul class="footer-locations-list">
        <li class="footer-locations-item">
          <div class="footer-locations-wrapper">
            <div class="footer-locations-name-wrapper">
              <h3 class="footer-locations-title">CAFE</h3>
              <p class="footer-locations-subtitle">Chicago</p>
            </div>
            <address class="footer-locations-address">
              <ul class="footer-address-list">
                <li class="footer-address-item">
                  <a
                    class="footer-address-link"
                    href="https://maps.app.goo.gl/8PtExbVsh4NQoPss7"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
                  </a>
                </li>
              </ul>
            </address>
            <div class="footer-line-wrapper"></div>
            <ul class="footer-working-hours-list">
              <li>
                <p class="footer-working-hours-text">
                  Monday - Friday
                  <br />
                  <span class="footer-working-hours-span">06:00 AM - 10:00 PM</span>
                </p>
              </li>
              <li>
                <p class="footer-working-hours-text">
                  Saturday - Sunday <br />
                  <span class="footer-working-hours-span"> 08:00 AM - 16:00 PM </span>
                </p>
              </li>
            </ul>
            <div class="footer-line-wrapper"></div>
            <address class="footer-contacts-address">
              <p>
                <a class="footer-contacts-address-link" href="tel:+61383766284"
                  >+61(0) 383 766 284</a
                >
              </p>
              <p>
                <a class="footer-contacts-address-link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </p>
            </address>
          </div>
        </li>
        <li class="footer-locations-item">
          <div class="footer-locations-wrapper">
            <div class="footer-locations-name-wrapper">
              <h3 class="footer-locations-title footer-locations-title-large">FOODTRUCK</h3>
              <p class="footer-locations-subtitle">Los Angeles</p>
            </div>
            <address class="footer-locations-address">
              <ul class="footer-address-list">
                <li class="footer-address-item">
                  <a
                    class="footer-address-link"
                    href="https://maps.app.goo.gl/izzsYEawNVqUFEn37"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
                  </a>
                </li>
              </ul>
            </address>
            <div class="footer-line-wrapper"></div>
            <ul class="footer-working-hours-list">
              <li>
                <p class="footer-working-hours-text">
                  Monday - Friday
                  <br />
                  <span class="footer-working-hours-span">06:00 AM - 10:00 PM</span>
                </p>
              </li>
              <li>
                <p class="footer-working-hours-text">
                  Saturday - Sunday <br />
                  <span class="footer-working-hours-span"> 08:00 AM - 16:00 PM </span>
                </p>
              </li>
            </ul>
            <div class="footer-line-wrapper"></div>
            <address class="footer-contacts-address">
              <p>
                <a class="footer-contacts-address-link" href="tel:+61383766284"
                  >+61(0) 383 766 284</a
                >
              </p>
              <p>
                <a class="footer-contacts-address-link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </p>
            </address>
          </div>
        </li>
        <li class="footer-locations-item">
          <div class="footer-locations-wrapper">
            <div class="footer-locations-name-wrapper">
              <h3 class="footer-locations-title">CAFE</h3>
              <p class="footer-locations-subtitle">New York</p>
            </div>
            <address class="footer-locations-address">
              <ul class="footer-address-list">
                <li class="footer-address-item">
                  <a
                    class="footer-address-link"
                    href="https://maps.app.goo.gl/YXyXAr2U9vZ6cirw9"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    726 Sterling Pl, Brooklyn, NY 11222, USA
                  </a>
                </li>
              </ul>
            </address>
            <div class="footer-line-wrapper"></div>
            <ul class="footer-working-hours-list">
              <li>
                <p class="footer-working-hours-text">
                  Monday - Friday
                  <br />
                  <span class="footer-working-hours-span">06:00 AM - 10:00 PM</span>
                </p>
              </li>
              <li>
                <p class="footer-working-hours-text">
                  Saturday - Sunday <br />
                  <span class="footer-working-hours-span"> 08:00 AM - 16:00 PM </span>
                </p>
              </li>
            </ul>
            <div class="footer-line-wrapper"></div>
            <address class="footer-contacts-address">
              <p>
                <a class="footer-contacts-address-link" href="tel:+61383766284"
                  >+61(0) 383 766 284</a
                >
              </p>
              <p>
                <a class="footer-contacts-address-link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </p>
            </address>
          </div>
        </li>
      </ul>
    </section>
    <div class="footer-info">
      <div class="footer-button-wrapper">
        <button
          class="button-primary location-btn footer-button"
          type="button"
          id="open-locations-modal"
        >
          <span class="btn-text">Our Locations</span>
          <svg class="btn-icon" width="12" height="12">
            <use href="/img/sprite.svg#icon-btn-chevron-right"></use>
          </svg>
        </button>
        <button class="button-secondary footer-button" type="button" id="open-franchise-modal">
          <span class="btn-text">Franchise</span>
          <svg class="btn-icon" width="12" height="12">
            <use href="/img/sprite.svg#icon-btn-chevron-right"></use>
          </svg>
        </button>
      </div>
      <div class="footer-slogan-social-wrapper">
        <div class="footer-slogan">
          <p class="footer-slogan-text">homemade ice cream made</p>
          <p class="footer-slogan-text footer-slogan-text-large">with passion</p>
        </div>
        <div class="footer-social-wrapper">
          <ul class="footer-social-list">
            <li class="footer-social-item">
              <a
                class="footer-social-link"
                href="https://github.com/tetiana-tkachuk/ice-cream-project"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Visit our GitHub page"
              >
                <svg class="footer-social-icon" width="18" height="18">
                  <use href="/img/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                class="footer-social-link"
                href="tg://resolve?domain=babichdev"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Join our Telegram channel"
              >
                <svg class="footer-social-icon" width="18" height="18">
                  <use href="/img/sprite.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                class="footer-social-link"
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Facebook page"
              >
                <svg class="footer-social-icon" width="18" height="18">
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="footer-social-contacts">
            <address class="footer-social-contacts-address">
              <p class="footer-contact-text">
                Feel free to contact
                <a class="footer-contact-tel-link" href="tel:+61383766284">+61 (0) 383 766 284</a>
              </p>
            </address>
          </div>
        </div>
      </div>
      <div class="footer-social-line-wrapper"></div>
      <div class="footer-copyright-wrapper">
        <p class="footer-copyright">&copy; 2022 - IceCream. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
