<footer class="footer" id="contacts">
  <div class="container footer-contacts">
    <h2 class="visually-hidden">Our location</h2>
    <div class="footer-card-wrapper">
      <ul class="footer-locations-list">
        <li class="footer-locations-item">
          <div class="footer-locations-wrapper">
            <div class="footer-locations-name-wrapper">
              <h3 class="footer-locations-title">CAFE</h3>
              <h4 class="footer-locations-subtitle">Chicago</h4>
            </div>
            <address class="footer-locations-addres">
              <ul class="footer-address-list">
                <li class="footer-addres-item">
                  <a class="footer-address-link" href="https://maps.app.goo.gl/8PtExbVsh4NQoPss7">
                    10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
                  </a>
                </li>
              </ul>
            </address>
            <div class="footer-line-wrapper"></div>
            <div class="footer-working-hours-wrapper">
              <p class="footer-working-hours-text">
                Monday - Friday
                <br />
                <span class="">06:00 AM - 10:00 PM</span>
              </p>
              <p class="footer-working-hours-text">
                Saturday - Sunday <br /><span class=""> 08:00 AM - 16:00 PM </span>
              </p>
            </div>
            <div class="footer-line-wrapper"></div>
            <div class="footer-contacts-wrapper">
              <p>
                <a href="tel:+61383766284">+61(0) 383 766 284</a>
              </p>
              <p>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </p>
            </div>
          </div>
        </li>
        <li class="footer-locations-item">
          <div class="footer-locations-wrapper">
            <div class="footer-locations-name-wrapper">
              <h3 class="footer-locations-title footer-locations-title-large">FOODTRUCK</h3>
              <h4 class="footer-locations-subtitle">Los Angeles</h4>
            </div>
            <address class="footer-locations-addres">
              <ul class="footer-addres-list">
                <li class="footer-addres-item">
                  <a class="footer-address-link" href="https://maps.app.goo.gl/izzsYEawNVqUFEn37">
                    1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
                  </a>
                </li>
              </ul>
            </address>
            <div class="footer-line-wrapper"></div>
            <div class="footer-working-hours-wrapper">
              <p class="footer-working-hours-text">
                Monday - Friday
                <br />
                <span class="">06:00 AM - 10:00 PM</span>
              </p>
              <p class="footer-working-hours-text">
                Saturday - Sunday <br /><span class=""> 08:00 AM - 16:00 PM </span>
              </p>
            </div>
            <div class="footer-line-wrapper"></div>
            <div class="footer-contacts-wrapper">
              <p>
                <a href="tel:+61383766284">+61(0) 383 766 284</a>
              </p>
              <p>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </p>
            </div>
          </div>
        </li>
        <li class="footer-locations-item">
          <div class="footer-locations-wrapper">
            <div class="footer-locations-name-wrapper">
              <h3 class="footer-locations-title">CAFE</h3>
              <h4 class="footer-locations-subtitle">New York</h4>
            </div>
            <address class="footer-locations-addres">
              <ul class="footer-address-list">
                <li class="footer-addres-item">
                  <a class="footer-address-link" href="https://maps.app.goo.gl/YXyXAr2U9vZ6cirw9">
                    726 Sterling Pl, Brooklyn, NY 11222, USA
                  </a>
                </li>
              </ul>
            </address>
            <div class="footer-line-wrapper"></div>
            <div class="footer-working-hours-wrapper">
              <p class="footer-working-hours-text">
                Monday - Friday
                <br />
                <span class="">06:00 AM - 10:00 PM</span>
              </p>
              <p class="footer-working-hours-text">
                Saturday - Sunday <br /><span class=""> 08:00 AM - 16:00 PM </span>
              </p>
            </div>
            <div class="footer-line-wrapper"></div>
            <div class="footer-contacts-wrapper">
              <p>
                <a href="tel:+61383766284">+61(0) 383 766 284</a>
              </p>
              <p>
                <a href="mailto:noreply@envato.com">noreply@envato.com</a>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="footer-info">
      <div class="footer-button-wrapper">
        <button class="location-btn footer-button" id="open-locations-modal">Our Locations</button>
        <button class="footer-button footer-button-transperent" id="open-franchise-modal">
          Franchise
        </button>
      </div>
      <div class="footer-slogan-social-wrapper">
        <div class="footer-slogan">
          <p class="footer-slogan-text">homemade ice cream made</p>
          <p class="footer-slogan-text footer-slogan-text-large">with passion</p>
        </div>
        <div class="footer-social-wrapper">
          <ul class="footer-social-list">
            <li class="footer-social-item">
              <a href="https://www.github.com/" target="_blank" rel="noopener noreferrer">
                <svg class="footer-icon" width="18" height="18">
                  <use href="/img/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a href="https://www.telegram.com/" target="_blank" rel="noopener noreferrer">
                <svg class="footer-icon" width="18" height="18">
                  <use href="/img/sprite.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                <svg class="footer-icon" width="18" height="18">
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="footer-social-contacts">
            <address class="footer-social-contacts-address">
              <p class="footer-contact-text">
                Feel free to contact
                <a href="tel:+61383766284">+61 (0) 383 766 284</a>
              </p>
            </address>
          </div>
        </div>
      </div>
      <div class="footer-social-line-wrapper"></div>
      <div class="footer-copyright-wrapper">
        <p class="footer-copyright">© 2022 - IceCream. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>