<header class="header">
  <div class="container header-container">
    <svg class="header-logo" width="41" height="37" aria-label="Logo">
      <use href="/img/logo.svg#icon-logo"></use>
    </svg>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item"><a href="#products">Our products</a></li>
        <li class="header-nav-item"><a href="#feedbacks">Feedbacks</a></li>
        <li class="header-nav-item"><a href="#contact">Contact & Location</a></li>
      </ul>
    </nav>
    <button class="burger-open-btn" type="button">
      <svg
        class="burger-icon"
        width="41"
        height="37"
        aria-label="Open menu"
        title="Open menu"
      >
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <button class="button-primary buy-btn" type="button">Buy now
      <svg class="buy-btn-icon" width="12" height="12">
      <use href="/img/sprite.svg#icon-buy-btn"></use>
    </svg>
    </button>
  </div>
</header>
