<section class="hero">
  <div class="container hero-container">
    <div class="hero-content-first-wrapper">
      <h1 class="section-title hero-title">
        <span class="first-part-hero-title">ice cream made with</span>
        <span class="second-part-hero-title">passion</span>
      </h1>
      <div class="hero-anchor-btn-link-wrapper">
        <a href="#products" class="button-secondary hero-anchor-btn-link">Products</a>
        <a href="#advantages" class="hero-anchor-link">How it’s made?</a>
      </div>
      <div class="hero-action-call-wrapper">
        <div class="hero-action-call-img-wrapper">
          <picture>
            <source
              srcset="/img/hero-webp/plate-desk-1x.webp 1x, /img/hero-webp/plate-desk-2x.webp 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="/img/hero-webp/plate-tab-1x.webp 1x, /img/hero-webp/plate-tab-2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/hero-webp/plate-mob-1x.webp 1x, /img/hero-webp/plate-mob-2x.webp 2x"
              media="(max-width: 767px)"
            />
            <img
              src="/img/hero-webp/plate-mob-1x.webp"
              loading="lazy"
              alt="A plate full of ice cream scoops"
              width="170"
            />
          </picture>
        </div>
        <div class="hero-action-call-text-link-wrapper">
          <p class="hero-action-call-text">Choose your favourite product and enjoy its flavour</p>
          <a href="#products" class="hero-action-call-link">
            <svg
              class="icon-arrow hero-action-call-link-icon"
              aria-label="Go to the products section"
            >
              <use href="/img/sprite.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="hero-content-second-wrapper">
      <div class="hero-ice-cream-img-wrapper">
        <img
          srcset="
            /img/hero-webp/smiled-ice-cream-1x.webp 1x,
            /img/hero-webp/smiled-ice-cream-1x.webp 2x
          "
          fetchpriority="high"
          decoding="async"
          alt="Ice Cream that has a smiley face"
          width="152"
        />
      </div>
      <div class="statics-descr-wrapper">
        <p class="statics-descr">
          <span class="statics-number">16</span>
          <span class="statics-text">cafes</span>
        </p>
        <p class="statics-descr">
          <span class="statics-number">23</span>
          <span class="statics-text">food trucks</span>
        </p>
      </div>
    </div>
  </div>
</section>
