<section class="products" id="products">
  <div class="container">
    <p class="title-text">100% natural</p>
    <h2 class="section-title">products</h2>

    <ul class="products-list">
      <li class="product-item one">
        <picture class="product-img">
          <source
            srcset="
              /img/products-webp/products-item1-desk-1x.webp 1x,
              /img/products-webp/products-item1-desk-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/products-webp/products-item1-tab-1x.webp 1x,
              /img/products-webp/products-item1-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/products-webp/products-item1-mob-1x.webp 1x,
              /img/products-webp/products-item1-mob-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/products-webp/products-item1-mob-1x.webp" alt="ice cream" />
        </picture>

        <div class="product-circle"></div>

        <div class="product-card">
          <div class="product-name-descr">
            <h3 class="product-name">ice cream</h3>
            <p class="product-descr">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
              stabilizer
            </p>
          </div>

          <button
            class="product-btn"
            type="button"
            title="Choose ingredients"
            aria-label="Open the ingredients window"
          >
            <svg class="icon-arrow">
              <use href="/img/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="product-item two">
        <picture class="product-img">
          <source
            srcset="
              /img/products-webp/products-item2-desk-1x.webp 1x,
              /img/products-webp/products-item2-desk-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/products-webp/products-item2-tab-1x.webp 1x,
              /img/products-webp/products-item2-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/products-webp/products-item2-mob-1x.webp 1x,
              /img/products-webp/products-item2-mob-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/products-webp/products-item2-mob-1x.webp" alt="ice coffee" />
        </picture>

        <div class="product-circle"></div>

        <div class="product-card">
          <div class="product-name-descr">
            <h3 class="product-name">ice coffee</h3>
            <p class="product-descr">
              Fragrant invigorating drink created from 100% natural ingredients without the use of
              preservatives and flavor enhancers
            </p>
          </div>

          <button
            class="product-btn"
            type="button"
            title="Choose ingredients"
            aria-label="Open the ingredients window"
          >
            <svg class="icon-arrow">
              <use href="/img/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="product-item three">
        <picture class="product-img">
          <source
            srcset="
              /img/products-webp/products-item3-desk-1x.webp 1x,
              /img/products-webp/products-item3-desk-2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/products-webp/products-item3-tab-1x.webp 1x,
              /img/products-webp/products-item3-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/products-webp/products-item3-mob-1x.webp 1x,
              /img/products-webp/products-item3-mob-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/products-webp/products-item3-mob-1x.webp" alt="milkshakes" />
        </picture>

        <div class="product-circle"></div>

        <div class="product-card">
          <div class="product-name-descr">
            <h3 class="product-name">milkshakes</h3>
            <p class="product-descr">
              Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries
              and other sweets of your choice
            </p>
          </div>

          <button
            class="product-btn"
            type="button"
            title="Choose ingredients"
            aria-label="Open the ingredients window"
          >
            <svg class="icon-arrow">
              <use href="/img/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
