.franchise-modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.franchise-modal-container {
  position: relative;
  width: 280px;
  height: auto;
  padding: 30px 28px;
  background-color: var(--bg-color-secondary);
  border: 2px solid var(--color-accent);
  border-radius: 10px;
}

.franchise-modal-congrats {
  font-family: var(--font-heading);
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

.franchise-modal-description {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .franchise-modal-container {
    width: 568px;
    padding: 32px 54px;
  }

  .franchise-modal-congrats {
    font-size: 20px;
    max-width: 322px;
    margin-right: auto;
    margin-left: auto;
  }

  .franchise-modal-description {
    font-size: 16px;
    max-width: 448px;
    margin-bottom: 28px;
  }
}
