.ingredients.modal-overlay {
  align-items: start;
}

.ingredients-modal {
  position: relative;
  width: 280px;
  background-color: var(--bg-color-secondary);
  border: 2px solid var(--color-accent);
  border-radius: 10px;
  padding-top: 28px;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
  overflow-y: auto;
}

.ingredients .product-title {
  font-family: var(--font-heading);
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 184px;
}

.ingr-product-img {
  z-index: 2;
  position: absolute;
  top: 106px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 130px;
  height: 130px;
  border-radius: 65px;
  object-fit: cover;
  overflow: hidden;
}

/* Circle down image */
.ingr-product-circle {
  z-index: 1;
  position: absolute;
  top: 113px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 130px;
  height: 130px;
  border-radius: 65px;
}

.ingr-product-circle {
  background-image: linear-gradient(rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
  background-color: #d9d9d9;
  box-shadow: 0px 5px 20px 0px rgba(10, 136, 23, 0.25);
}

.consist-list {
  display: flex;
  flex-direction: row;
  gap: 9px;
  margin-bottom: 39px;
  width: 100%;
  justify-content: center;
}

.consist-item {
  display: block;
  width: 53px;
  height: 72px;
  border-radius: 40px;
  border: 2px solid #9cbe8f;
}

.consist-circle {
  width: 44px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  background-color: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px 0px rgba(10, 136, 23, 0.25);
}

.consist-text {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  letter-spacing: 0;
}

.consist-unit {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0;
  text-align: center;
}

.ingredients-title {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0;
  margin-bottom: 24px;
  text-align: center;
}

.ingr-list {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  margin-bottom: 48px;
}

.ingr-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ingr-name,
.ingr-quantity {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04;
}

.ingridients-modal-textarea {
  height: 84px;
}

@media screen and (min-width: 768px) {
  .ingredients-modal {
    width: 568px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 186px;
  }

  .ingr-product-img {
    top: 84px;
  }

  .ingr-product-circle {
    top: 91px;
  }

  .consist-list {
    gap: 20px;
    margin-bottom: 48px;
  }

  .consist-item {
    display: block;
    width: 65px;
    height: 90px;
    border-radius: 40px;
    border: 2px solid #9cbe8f;
  }

  .consist-circle {
    width: 54px;
    height: 54px;
    margin-bottom: 7px;
    border-radius: 27px;
  }

  .consist-text {
    font-size: 12px;
  }

  .consist-unit {
    font-size: 12px;
  }

  .inputs-form {
    width: 368px;
  }

  .user-name,
  .user-phone,
  .user-comment {
    padding: 11px 16px;
  }
}
