.order-modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.order-modal-overlay {
  align-items: start;
  overflow-y: auto;
}

.order-modal-container {
  position: relative;
  width: 280px;
  height: auto;
  padding: 30px 28px;
  background-color: var(--bg-color-secondary);
  border: 2px solid var(--color-accent);
  border-radius: 10px;
}

.order-modal-title {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

.order-modal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
}

.order-modal-item {
  position: relative;
  width: 132px;
  height: 201px;
  padding-top: 64px;
}

.order-img-decor {
  position: absolute;
  width: 132px;
  height: 132px;
  background-color: #d9d9d9;
  border-radius: 50%;
  z-index: 10;
  top: 7px;
}

.order-img-decor-1 {
  background-image: linear-gradient(rgba(156, 190, 143, 0.7));
  box-shadow: 0 5px 20px 0 rgba(10, 136, 23, 0.25);
}
.order-img-decor-2 {
  background-image: linear-gradient(rgba(248, 210, 78, 0.7));
  box-shadow: 0 5px 20px 0 rgba(153, 114, 23, 0.25);
}
.order-img-decor-3 {
  background-image: linear-gradient(rgba(213, 117, 63, 0.7));
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
}

.order-img-wrapper {
  position: absolute;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 20;
  top: 0;
}

.order-item-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 136px;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(212, 20, 67, 0.1);
}

.order-item-title-wrapper-1 {
  border: 2px solid #96af8c;
}
.order-item-title-wrapper-2 {
  background-color: #efd478;
  border: 2px solid #efd478;
}
.order-item-title-wrapper-3 {
  border: 2px solid #d6936d;
}

.order-item-title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  transform: translateY(-20px);
}

@media screen and (min-width: 768px) {
  .order-modal-overlay {
    align-items: center;
  }

  .order-modal-container {
    width: 568px;
    padding: 32px 54px;
  }

  .order-modal-title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 40px;
  }

  .order-modal-list {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
  }

  .modal-input-wrapper {
    margin-bottom: 32px;
  }
}
