.promo-modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.promo-modal-container {
  position: relative;
  width: 280px;
  padding: 28px;
  background-color: var(--bg-color-secondary);
  border: 2px solid var(--color-accent);
  border-radius: 10px;
}

.promo-modal-title {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

.promo-modal-iframe {
  width: 224px;
  height: 199px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.promo-modal-text {
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .promo-modal-container {
    width: 568px;
    padding: 32px 60px;
  }

  .promo-modal-title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }

  .promo-modal-iframe {
    width: 448px;
    height: 205px;
    margin-bottom: 32px;
  }

  .promo-modal-text {
    font-size: 16px;
  }
}
